.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
  }
  &__contacts {
    margin-right: 70px;
  }

  &__address {
    margin-top: 20px;
  }
  &__links {
    margin-top: 9px;
  }
  &__invitation {
    margin-bottom: 20px;
    margin-top: 12px;
  }
}
