.text-produkt {
  font-size: 18px;
  line-height: 1.5;
  background-color: getColor('accent');
  letter-spacing: 0.03em;
  color: getColor('accentLight');
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}
